
.areaFoto{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(230, 230, 230);
}


.seccion1{
    display: flex;
    width: 90%;
    padding: 5%;
    background-color: rgb(230, 230, 230);
}

.internoFoto{
    background:linear-gradient(180deg,rgb(25, 124, 170) 60%,rgb(230, 230, 230) 0%);
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 5%;
    margin-bottom: 20px;
}

/* #borde1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: white inset 5px;
    border-radius: 50%;
    padding: 3%;
    max-height: 90%;
} */

#divImagen{
    box-sizing: border-box;
    position: relative;
    width: 85%;
}

.fotoPerfil{
    box-sizing: border-box;
    border: white outset 2px;
    padding: 5%;
    border-radius: 50%;
    width: 100%;
    height : 100%;
}

@media only screen and (max-width: 1000px) {
    .areaFoto{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        background-color: rgb(230, 230, 230);
    }
}

@media only screen and (max-width: 1000px) {
    .textoJustificado{
        text-align: center;
        width: 100%;
    }
}