.flexFatherRowOVD{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
}

.esp65porOVD{
    width: 65%;
}

.esp35porOVD{
    width: 35%;
}

@media only screen and (max-width: 1000px) {
    .flexFatherRowOVD{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        box-sizing: border-box;
    }
    
    .esp65porOVD{
        width: 100%;
    }
    
    .esp35porOVD{
        width: 100%;
    }

}

@media only screen and (max-width: 1000px) {
    .textoJustificado{
        text-align: center;
        width: 100%;
    }
}