/**Clases principales del proyecto*/

.flexFatherColum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  box-sizing: border-box;
}

.flexFatherRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.esqueleto{
  /* border:solid black 1px; */
  border-radius: 15px;
}

.margenes{
  margin: 20px;
}

.margin0{
  margin:0px;
}

.fillHor{
  width:100%
}

.fillVert{
  height:100%
}


.esp50por{
  width: 50%;
}

.esp25por{
  width: 25%;
}

.esp75por{
  width: 75%;
}

.esp100por{
  width: 100%;
}

.espo80por{
  width:80%;
}

.espo90por{
  width:90%;
}

.esp65por{
  width: 65%;
}

.esp35por{
  width: 35%;
}

.redondo{
  border-radius: 50%;
}

.parrafoCentrado{
  width: 100%;
  text-align: center;
}

.quitarMagins{
  margin: 0px;
}

.padding2px{
  padding: 2px;
}

.padding4px{
  padding: 4px;
}

.padding6px{
  padding: 6px;
}

.padding8px{
  padding: 6px;
}

.contenerEspacio{
  box-sizing: border-box;
}

.textoJustificado{
  text-align: justify;
  width: 100%;
}

.iconoTamano50px{
  max-height:50px;
  max-width:50px;
}

.negrita{
  font-weight: 600;
}

.letra12rem{
  font-size: 1.2rem;
}
.letra14rem{
  font-size: 1.4rem;
}
.letra16rem{
  font-size: 1.6rem;
}
.letra18rem{
  font-size: 1.8rem;
}
.letra2rem{
  font-size: 2rem;
}


@media only screen and (max-width: 1000px) {
  .areaFoto{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      background-color: rgb(230, 230, 230);
  }

  #appPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

  .espo90por{
    align-self: center;
    justify-self: center;
  }
}